.globalWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  padding-left: 0.32rem;
  padding-top: 2rem;
}

.saveBtn {
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-left: -7px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}

.saveBtn img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.optionH {
  font-family: "Satoshi 500";
  font-size: 0.95rem;
  width: 4.2rem;
}

.btnWrapper {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.shareBtn {
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(55, 174, 226);
  padding: 7px;
  margin-bottom: 3px;
}

.shareBtn img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.deleteButton {
  background-color: var(--light-red);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 0.35rem;
  text-transform: uppercase;
  font-family: "Satoshi 500";
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.lds-dual-ring {
  display: inline-block;
  width: 45;
  height: 45px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid var(--light-red);
  border-color: var(--light-red) transparent var(--light-red) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
