.recipesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.mainHeader {
    font-family: "Satoshi 700";
    font-size: 1.4rem;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .recipesGrid {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1.5rem;
    }
}