.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Satoshi 400";
  color: var(--white);
}

.constructorMainHeader {
  font-family: "Satoshi 700";
  font-size: 1.4rem;
}

.constructorSection {
  padding: 1.5rem 0;
}

.constructorSectionHeader {
  font-size: 1.2rem;
  font-family: "Satoshi 500";
  list-style: square inside;
  margin-bottom: 0.5rem;
}

.constructorSectionHeader::before {
  content: "- ";
}

.constructorElement {
  padding-top: 2.5rem;
}

.submit {
  display: block;
  margin: 2rem auto 0;
  font-family: "Satoshi 700";
  background-color: var(--dark-grey-secondary);
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0 1rem;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 0.9rem;
  height: 2rem;
  text-transform: uppercase;
  min-width: 64px;
  max-width: 100%;
  border: none;
  text-align: center;
  box-shadow:
    0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s;
  &:hover {
    box-shadow:
      0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%),
      0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
  &:active {
    transform: translateY(4px);
    scale: 0.93;
  }
}
