.header {
    position: relative;
    justify-content: center;
    padding: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--dark-grey);
}

.nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Satoshi 400";
}

.logoLink {
    cursor: pointer;
    background-image: url("~@/assets/icons/logo.png");
    height: 1.9rem;
    width: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.profileLink {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--white);
    margin-right: 3rem;
}

.profileLink img {
    height: 2rem;
    width: auto;
}

.rightContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

@media screen and (max-width: 992px) {
    .rightContainer {
        column-gap: 0.9rem;
    }
    .profileLink {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 4rem;
    }
    .logoLink {
        height: 1.6rem;
        width: 1.9rem;
        background-image: url("~@/assets/icons/logomobile.png");
    }
    .rightContainer {
        column-gap: 0.5rem;
    }
    .profileLink {
        margin-right: 1.5rem;
    }
    .profileLink img {
        height: 1.5rem;
        width: auto;
    }
}
