.formWrapper {
    background-color: var(--dark-grey);
    max-width: 450px;
    color: var(--white);
    border-radius: 0.8rem;
    padding: 1.5rem;
    font-family: "Satoshi 400";
    flex: 1;
}

.heading {
    margin-bottom: 0.8rem;
    padding: 0 0.2rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2 {
    font-size: 1.2rem;
    font-family: "Satoshi 700";
}

.heading a {
    color: var(--light-grey);
    font-size: 1rem;
}

.headingError {
    padding: 0 0.2rem ;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    color: var(--light-red);
    margin-bottom: 0.7rem;
}

.headingError img {
    margin-top: 0.08rem;
    align-self: flex-start;
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.3rem;
    color: var(--light-red);
}

.mainForm { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: var(--black);
    border-radius: 10px;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
}

.inputWrapper {
    position:relative;
	margin-bottom: 3.2rem;
}

.inputLabel {
	position:absolute;
	left:0;
    pointer-events: none;
    top:-0.75rem;
	font-size: 0.875rem;
}

.input {
    font-family: "Satoshi 400";
    border:0;
    font-size: 1rem;
    border-bottom:1px solid var(--grey);  
    background-color: transparent;
    width:100%;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    color: var(--white);
}

.input:focus{
    outline: 0;
    border-bottom: 1px solid var(--white);
}

.error {
    pointer-events: none;
    font-size: 0.8rem;
    position: absolute;
    border-radius: 8px;
    padding: 0.15rem 0.3rem;
    bottom: -1.55rem;
    left: 0;
    color: var(--dark-red);
    background-color: var(--light-red);
}

.submitButton {
    font-family: "Satoshi 700";
    background-color: var(--dark-grey-secondary);
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0 1rem;
    color: var(--white);
    letter-spacing: 1px;
    font-size: 0.9rem;
    height: 2rem;
    text-transform: uppercase;
    min-width: 64px;
    max-width: 100%;
    border: none;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .3s;
    &:hover {
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }
    &:active {
        transform: translateY(4px);
        scale: 0.93;
    }
}

@media screen and (max-width: 768px){
    .formWrapper {
        padding: 1.2rem;
    }
    .container {
        border-radius: 10px;
        width: 100%;
        padding: 2rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 320px) {
    .formWrapper {
        padding: 1rem;
    }
    .heading {
        margin-bottom: 0.6rem;
    }
    .heading h2 {
        font-size: 0.9rem;
    }
    .heading a {
        color: var(--light-grey);
        font-size: 0.75rem;
    }
    .headingError {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .headingError img {
        margin-top: 0.05rem;
        height: 0.45rem;
        width: 0.45rem;
        margin-right: 0.1rem;
    }
    .inputWrapper {
        margin-bottom: 2.5rem;
    }
    .inputLabel {
        position:absolute;
        left:0;
        pointer-events: none;
        top:-0.675rem;
        font-size: 0.7rem;
    }
    .input {
        font-size: 0.85rem;
    }
    .error {
        font-size: 0.7rem;
        padding: 0.1rem 0.2rem;
        bottom: -1.35rem;
    }
    .submitButton {
        padding: 0 0.7rem;
        font-size: 0.7rem;
        height: 1.7rem;
    }
}