.Toastify__toast {
    font-family: "Satoshi 400";
    margin-bottom: 0;
}

.Toastify__toast-body {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .Toastify__toast {
        font-size: 0.85rem;
    }
    .Toastify__toast-icon {
        width: 1rem;
        height: auto;
    }
}