.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Satoshi 400";
  color: var(--white);
}

.constructorMainHeader {
  font-family: "Satoshi 700";
  font-size: 1.4rem;
}

.constructorSection {
  padding: 1.5rem 0;
}

.constructorSectionHeader {
  font-size: 1.2rem;
  font-family: "Satoshi 500";
  list-style: square inside;
  margin-bottom: 0.5rem;
}

.constructorSectionHeader::before {
  content: "- ";
}

.constructorElement {
  padding-top: 2.5rem;
}
